h1 {
  text-decoration: none;
}

ul {
  list-style-type: none;
  padding-left:1px;
}

a{
  text-decoration: none !important;
}

a:hover{
  font-weight: bold;
}

.container-fluid,.left-panel{
  padding-left:0;
}

.gray{
  color:gray;
}

.no-pad{
  padding:0;
}

.pad10{
  padding:10px;
}